body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image:url(../IMG/EBook.jpg) ;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: cornsilk;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}
h1{
    text-align: center;
    color: solid black;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background: #555;
}
.pay{
    margin-left: 500px;
    color: darkorange;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 2rem 0;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    list-style: none;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #3498db;
}

.social-icons {
    display: flex;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ecf0f1;
    color: #2c3e50;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: #3498db;
    color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        margin-bottom: 1rem;
    }
}