body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image:url(../IMG/lcf.jpg) ;
}

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

h1 {
    color: #2c3e50;
}

.function-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.function-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.function-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#function-details {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
}


footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 2rem 0;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    list-style: none;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #3498db;
}

.social-icons {
    display: flex;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ecf0f1;
    color: #2c3e50;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: #3498db;
    color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        margin-bottom: 1rem;
    }
}

